# **1. Configuración del Ambiente**


---

In [13]:
import pandas as pd
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, Float, String, DateTime, inspect, text
global df_itens_pedidos, df_pedidos, df_productos, df_vendedores, database

# **2. Obtención de Datos (CSV in Data)**


---

In [14]:
df_items_pedidos = pd.read_csv('Data/df_items_pedidos.csv')
df_pedidos = pd.read_csv('Data/df_pedidos.csv')
df_productos = pd.read_csv('Data/df_productos.csv')
df_vendedores = pd.read_csv('Data/df_vendedores.csv')

In [15]:
print("items pedidos ")
print(df_items_pedidos.info())
print("pedidos")
print(df_pedidos.info())
print("productos")
print(df_productos.info())
print("vendedores")
print(df_vendedores.info())

items pedidos
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24527 entries, 0 to 24526
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id_recibo       24527 non-null  int64
 1   producto_id     24527 non-null  int64
 2   pedido_id       24527 non-null  int64
 3   cantidad        24527 non-null  int64
 4   valor_unitario  24527 non-null  int64
 5   valor_total     24527 non-null  int64
 6   ciudad          24527 non-null  object
 7   costo_envio     24527 non-null  float64
dtypes: float64(1), int64(6), object(1)
memory usage: 1.5+ MB
None
pedidos
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24526 entries, 0 to 24525
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   pedido_id     24526 non-null  int64
 1   producto_id   24526 non-null  int64
 2   vendedor_id   24526 non-null  int64
 3   fecha_compra  24526 non-null  object
 4   total         24526 non-null  int64
 5   año           24526 non-null  int64
 6   mes           24526 non-null  int64
dtypes: int64(6), object(1)
memory usage: 1.3+ MB
None
productos
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   producto_id  205 non-null    int64
 1   producto     205 non-null    object
 2   precio       205 non-null    int64
 3   marca        205 non-null    object
 4   sku          205 non-null    float64
 5   condicion    205 non-null    object
dtypes: float64(1), int64(2), object(3)
memory usage: 9.7+ KB
None
vendedores
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   vendedor_id      5 non-null      int64
 1   nombre_vendedor  5 non-null      object
dtypes: int64(1), object(1)
memory usage: 208.0+ bytes
None

# **3 Levantando Banco de Datos**


---

In [16]:
# Definimos la función para crear la conexión y guardar los dataframes en una base de datos SQLite
def crear_conexion():
    # Creamos un engine de tipo SQLite
    engine = create_engine('sqlite:///database.db', echo=False)
    
    # Creamos un objeto MetaData
    metadata = MetaData()

    # Creamos manualmente las tablas en la base de datos
    items_pedidos_table = Table('items_pedidos', metadata,
                                 Column('id_recibo', Integer),
                                 Column('producto_id', Integer),
                                 Column('pedido_id', Integer),
                                 Column('cantidad', Integer),
                                 Column('valor_unitario', Integer),
                                 Column('valor_total', Integer),
                                 Column('ciudad', String),
                                 Column('costo_envio', Float)
                                )
    pedidos_table = Table('pedidos', metadata,
                           Column('pedido_id', Integer),
                           Column('producto_id', Integer),
                           Column('vendedor_id', Integer),
                           Column('fecha_compra', DateTime),
                           Column('total', Integer),
                           Column('año', Integer),
                           Column('mes', Integer)
                          )
    productos_table = Table('productos', metadata,
                             Column('producto_id', Integer),
                             Column('producto', String),
                             Column('precio', Integer),
                             Column('marca', String),
                             Column('sku', Float),
                             Column('condicion', String)
                            )
    vendedores_table = Table('vendedores', metadata,
                              Column('vendedor_id', Integer),
                              Column('nombre_vendedor', String)
                             )

    # Creamos las tablas en la base de datos
    metadata.create_all(engine)
    
    # Insertamos los datos de los dataframes en las tablas correspondientes
    df_items_pedidos.to_sql('items_pedidos', engine, if_exists='replace', index=False)
    df_pedidos.to_sql('pedidos', engine, if_exists='replace', index=False)
    df_productos.to_sql('productos', engine, if_exists='replace', index=False)
    df_vendedores.to_sql('vendedores', engine, if_exists='replace', index=False)

##### Pruebas de la base de datos

In [17]:
# Creamos un engine de tipo SQLite
engine = create_engine('sqlite:///database.db')

# Llamamos a la función para crear la conexión y guardar los dataframes en la base de datos
crear_conexion()

# Creamos un objeto Inspector para examinar la base de datos
inspector = inspect(engine)

# Obtenemos los nombres de las tablas en la base de datos
tabla_nombres = inspector.get_table_names()

# Imprimimos los nombres de las tablas
print("Nombres de las tablas en la base de datos:")
for tabla_nombre in tabla_nombres:
    print(tabla_nombre)

Nombres de las tablas en la base de datos:
items_pedidos
pedidos
productos
vendedores

In [18]:
# Creamos un engine de tipo SQLite
engine = create_engine('sqlite:///database.db')

# Obtenemos una conexión a la base de datos
connection = engine.connect()

# Creamos un objeto Text con la consulta SQL
consulta_sql = text("SELECT * FROM vendedores")

# Ejecutamos la consulta y obtenemos los resultados
resultados = connection.execute(consulta_sql)

# Imprimimos los resultados
for row in resultados:
    print(row)

# Cerramos la conexión
connection.close()

(1, 'Ana Duarte')
(2, 'Daniel Siqueira')
(3, 'Nadia Oliveira')
(4, 'Millena Pereira')
(5, 'Paulo Calanca')